# dependencies
node_modules/
.pnp
.pnp.js

# production build
frontend/build/

# environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# uploads / user files
uploads/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
